/ENV.yml
/Learning to Reweight Examples for Robust Deep Learning with PyTorch Higher.ipynb
/README.md
/__pycache__
/algorithm.png
/cifar-mtrain-acc.png
/cifar-mtrain-loss.png
/cifar-strain-acc.png
/cifar-strain-loss.png
/cifar-train-acc.png
/cifar.py
/cifar.xlsx
/lightning_logs
/logs
/mnist-base
/mnist-mean-weight0.png
/mnist-mean-weight1.png
/mnist-rw
/mnist-std-weight0.png
/mnist-std-weight1.png
/mnist-test-acc.png
/mnist-test-loss.png
/plotting.ipynb
/tinfoil.py
/tinfoil2.py
/weights.xlsx